@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,100&display=swap");
@import "./variables.css";
/* @import './desktop.css'; */
@import "./menu-vertical.css";
@import "./main.css";
@import "./desktop.css";

::after,
::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.debbuger * {
  outline: 1px solid dodgerblue;
}
.d-none {
  display: none;
}

body {
  
  inline-size: 100vw;
  block-size: 100vh;
  display: grid;
  grid-template-columns: 253px 1fr;
  background: black;
  font-family: "Poppins", sans-serif;
}

a {
  color: var(--color-light);
  text-decoration: none;
}

::-webkit-scrollbar {
  display: block;
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
}

::-webkit-scrollbar-track {
  background-color: #1d1d1d;
}
